<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/styleindex.css">
    <title>Portafolio Karol Cutiva</title>
</head>
<body>
   
    
        <link rel="shortcut icon" href="Aplicaciones/IMG/logo.png">
        
       
    </head>
    <body>
        <div class="image-menu">
            
            <nav>
                <ul class="menu">
                    <img src="../static/hjdvd.jpg" width="170px" height="170px"><br>
                 
                    <li><a href="">Datos Personales</a></li>
        
                    <li> <a href="#">Perfil</a></li>
                    <li> <a href="#">Estudios</a></li>
                    <li> <a href="#">Experiencia laboral</a></li>
                    <li> <a href="#">Referencias</a></li>
                   
                    
                    
          
                </ul> 
                
            </nav>
          
           <div id ="contenedor">
            <center>
           <div id="footer">PAGINA CREADA POR KAROL CUTIVA 
           </div>
           
            </center>
            </div>
    </div>
    </body>
    </html>
</body>
</html>